NITRO_FORGEJO_BASE_URL=http://forgejo:3000 # Replace with your actual Forgejo base URL.Do not use reverse proxy URLs here; use the direct URL to the Forgejo instance.
NITRO_PREFERRED_RUNNER_UUIDS=uuid-1,uuid-2 # Replace with your actual preferred runner UUIDs, separated by commas.
NITRO_FALLBACK_RUNNER_UUIDS=uuid-3,uuid-4 # Replace with your actual fallback runner UUIDs, separated by commas.
NITRO_PREFERRED_RUNNER_TTL_SECONDS=15 # default: 15 seconds
NITRO_BLOCK_UNASSIGNED_RUNNERS=false # If true, the system will block any runner that is not in the preferred or fallback lists.
NITRO_TRUST_X_FORWARDED_FOR=true # If true, the system will trust the X-Forwarded-For header for determining the client's IP address. This is important if Nitro is behind a reverse proxy.
NITRO_LOG_LEVEL=info
